.header-container { 
    display: flex;  
    justify-content: space-between; 
    width: 100%;  
    padding: 1rem; 
    box-shadow: 0 0 1rem rgba(0, 0, 0, .5); 
    background: #1d1d1c; 
    border-radius: 8px; 
}

img { 
    width: 51px; 
    height: 51px; 
    cursor: pointer; 
}

.buttons {
    display: flex; 
    gap: 10px; 
}

.enter, .registration {
    padding: 10px 20px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 16px;
}

.enter {
    background-color: #fff; 
    color: #1d1d1c;
}

.registration {
    background-color: #fff; 
    color: #1d1d1c;
}

.enter:hover, .registration:hover {
    opacity: 0.8; 
}